.header {
    height: 100px;
    width: 100vw;
    background-color: var(--background-color-main);
    box-shadow: 0 0 4px #ccc;
    position: fixed;
}

.header__navbar {
    display: flex;
    margin: 0 10rem 0;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.icon__home{
    height: 100px;
    width: 100px;
    transition: all 0.5s;
}

.icon__home:hover{
    background-color: var(--orange--color);
    border-radius: 50%;
}

.home {
    color:var(--white--color);
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
}

.header__navbar-item {
    display:inline-block;
    margin: 0 10px;
    align-items: center;
}

.header__navbar-item-link {
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: 300;
    color:var(--orange--color);
    padding: 1rem 2rem;
    border-bottom: 3px solid var(--orange--color);
    transition: all 0.5s;
}

.header__navbar-item-link--active{
    background-color: var(--orange--color);
    color: var(--white--color);
    border-radius: 4rem;
}
.header__navbar-item-link:hover {
    background-color: var(--orange--color);
    color: var(--white--color);
    border-radius: 4rem;
}