/*Header*/
.header {
    width: 100%;
    top: 0;
    background-color: transparent;
    position: fixed;
    z-index: 999;
    padding:3rem 0;
    transition:  .3s linear;
}

.inner-width {
    max-width: 130rem;
    margin: auto;
    padding: 0 4rem;
}

.logo{
    width: 10rem;
    height: 10rem;
    background-size: contain;
    background: url(../Image/Icon/icons8-sunny-side-up-eggs-100.png);
    transition: .1s linear;
}

.logo:hover{
    background-color: var(--orange--color);
    border-radius: 50%;
}


.header .inner-width {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.menu-toggler {
    background:none;
    width: 3rem;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span {
    display: block;
    height: 0.3rem;
    background-color: #fff;
    margin: 0.6rem 0;
    position: relative;
    transition: .3s linear;
}

.header__menu a{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    margin-left: 3rem;
    transition: .2s linear;
}

.header__menu a:hover {
    color: #48dbfb !important;
}

.sticky {
    background-color: #f9f9f9;
    padding: 1.8rem 0;
}

.sticky .logo{
    background-image: url(../Image/Icon/icons8-sunny-side-up-eggs-100.png);
}

.sticky .header__menu a{
    color:var(--orange--color);
}

.sticky .menu-toggler span{
    color: var(--orange--color);
}

#banner {
    height: 100vh;
    min-height: 50rem;
    background: url(../Image/Review_detail/Chài_Village.jpg) no-repeat center;
    opacity: 0.8;
    background-size: cover;
    background-attachment: fixed;
}

#banner .inner-width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#banner .content{
    width:100%;
    color: #fff;
}

#banner .content h1{
    font-size: 6rem;
    margin-bottom: 4rem;
}

#banner .content p{
    font-size: 2rem;
    opacity: 0.6;
}

.section{
    padding: 10rem;
}
.post {
    padding:10rem 0 5rem;
    height: 100%;
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
}

.slides-outer-width{
	overflow: hidden;
	height: 500px;
    width: 120rem;
}

.d-flex{
	display: flex!important;
}

.review-img{
	width: fit-content;
    height: fit-content;
    border: 2px solid #4267b2;
	background:none;
	border-radius: 2rem;
}

.slides{
	width: 100%;
	height: 100%;
}

.slides img{
	width: 400px;
	display: none;
	margin: 20px;
}

.slides img.active{
    display: inline-block;
    border-radius: 2rem;
}

.prevBtn:hover , .nextBtn:hover{
	font-size: 35px;
	transition: 0.2s;
	cursor: pointer;
}

.prevBtn{
	position: relative;
	font-size: 3rem;
	color: #666;
	margin: auto;
}

.nextBtn{
	position: relative;
	font-size: 3rem;
	color: #666;
	margin: auto;
}

.Button{
	margin: 0 0 10px;
}
.post__content{
    width: calc(50% - 10px);
}

.post__content-text{
    padding: 2rem;
}

.post__content-text h3,
.post__content-prep h3,
.cooking h3{
    font-family: 'Playfair Display', serif;
    color: #34495e;
}

.post__content-text h2 {
    font-size: 3.5rem;
    margin-bottom: 4rem;
}

h3 {
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

.cooking p{
    font-size: 2.2rem;
    margin-bottom: 3.5rem;
    line-height: 1.8;
    color: #34495e;
}

/* Footer */

footer{
	margin: 0;
	padding: 20px 0 0;
	background-color: rgb(56, 48, 48);
    color: #fff;
    text-align: center;
    justify-content: center;
}

.footer-inner-width{
	max-width: 90rem;
    margin: 0 auto;
    padding: 0 4rem;
}

.footer-info-pos{
	padding: 40px 20px;
	justify-content: space-between;
}

#footer-info > h2{
	text-transform: uppercase;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

#footer-info > p {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#contact ul{
    justify-content: center;
    text-align: center;
}

ul{
	display: flex;
	white-space: wrap;
	list-style-type: none;
}

li a{
	font-size: 50px;
	padding: 0 10px;
    color: #fff;
    transition: .2s linear;
}

.facebook:hover{
	color: #4267b2;	
}

.instagram:hover{
	color: #ed4956;
	
}

.twitter:hover{
	color: #00acee;

}

.youtube:hover{
	color: #f00;
	
}

.text-gradient {
    font-weight: bold;
    font-size: 4rem;
    display: inline-block;
    color: var(--purple);
 }
 
 @supports (-webkit-background-clip: text) {
    .text-gradient {
       color: transparent;
       background-image: var(--gradient);
       -webkit-background-clip: text;
    }
 }

@media screen and (max-width:980px){
    .menu-toggler{
        display: block;
    }
    .menu-toggler span{
        background-color: #fff;
    }
    .header__menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #666;
        top: 0;
        right: -100%;
        max-width: 40rem;
        padding: 8rem 5rem;
        transition: .3s linear;
    }

    .header__menu a{
        display: block;
        font-size: 3rem;
        margin:3rem 0;
    }

    .sticky .menu-toggler span {
        background-color: var(--orange--color);
    }

    .sticky .header__menu {
        background-color: #f9f9f9;
    }

    .header__menu.active{
        right: 0;
    }

    .menu-toggler.active span:nth-child(1){
        transform: rotate(-45deg);
        top:4px;
    }
    .menu-toggler.active span:nth-child(2){
        opacity: 0;
    }
    .menu-toggler.active span:nth-child(3){
        transform: rotate(45deg);
        bottom:14px;
    }

    .inner-width{
        max-width: 800px;
    }

    .post__img{
        width: 100%;
        height: 60rem;
        margin-bottom: 5rem;
    }
    .post__content{
        width: 100%;
    }


    @media screen and (max-width: 600px) {
        .inner-width{
            padding: 0 20px;
        }
        .box{
            width: 100%;
        }
        #footer-info h2,
        #footer-info p,
        #contact ul li a{
            font-size:2rem;
        }
        .review-img{
            width: 100%;
        }
    }

}

/* SCROLL BAR */
::-webkit-scrollbar{
    background: transparent;
    width: 14px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px #00000070;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(125deg,#3498db,#34495e);
    border-radius: 10px
}

